body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    min-height: 100vh;
    background-color: #404a57;
}

.page-buttons {
    display:flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.jumbotron {
    height: 375px;
    background: url(img/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-button {
    padding: 20px;
    margin: 5px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.btn {
    color: #7d3d24;
    background-color: #a8a9ae;
    border-color: #a8a9ae;
    width: 178px !important;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width:1920px) {
    body {
        background-size: cover;
        height: 100%;
        font-size: 25px;
    }
}

/* Tiny screens + phone users who aren't landscape weirdos */
@media screen and (orientation:portrait), (max-width:800px) {
    body {
        font-size: 14px;
    }
}