.wrapper {
    display: flex;
    width: 100%;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

.navbar-nav > li {
    padding-left: 125px;
    padding-right: 100px;
}

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}