{% extends "base.html" %}
{% load static %}


{% block style %}
  <link href="{% static 'finearts/css/style_contact.css' %}" rel="stylesheet" media="screen">
  <title>Contact</title>
{% endblock style %}

{% block content %}
  <div class="page-content">
    <div class="form-container">
      <br>
      <form method="post" class="submission">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
