{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Home</h1>

<form action="{% url 'search_results' %}" method="get">
	<div>
		<input type="radio" id="charcoal" name="q" type="text" value="0">
		<label for="charcoal">CharCoal</label>

		<input type="radio" id="photoshop" name="q" type="text" value="1">
		<label for="photoshop">Photoshop</label>

		<input type="radio" id="painting" name="q" type="text" value="2">
		<label for="painting">Painting</label>

		<input type="radio" id="sketching" name="q" type="text" value="4">
		<label for="sketching">Sketching</label>

		<input type="radio" id="illustrator" name="q" type="text" value="5">
		<label for="illustrator">Illustrator</label>

		<input type="radio" id="pet_portraits" name="q" type="text" value="6">
		<label for="pet_portraits">Pet Portraits</label>
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>
{% endblock %}



