{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Django Image Uploading</h1>
<ul>
  {% for portfolio in object_list %}
	<div class="col-md-4">
		<div class="card mb-2">
																<!--Changed from portfolio.drawing.url-->
			<!--Removed line goes here!-->
				<div class="card-body">
					<h5 class="card-title">{{ portfolio.title }}</h5>
					<p class="card-text">{{ project.description }}</p>
					</a>
				</div>
		</div>
	</div>
  {% endfor %}
</ul>
{% endblock %}

<img class="card-img-top" src="{% static portfolio.drawing %}">

